<?xml version="1.0" encoding="UTF-8"?>
<!--mapper 配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--获取Mapper接口-->
<mapper namespace="com.example.datagriptoolsdesign.mapper.UserMapper">
<!--    定义增删改查sql语句-->
    <select id="Show_all" resultType="com.example.datagriptoolsdesign.bean.TraceBean">
        Select * from trace;
    </select>

    <select id="QueryById" resultType="com.example.datagriptoolsdesign.bean.TraceBean">
        Select * from trace where id = #{id};
    </select>

    <select id="QueryByTime" resultType="com.example.datagriptoolsdesign.bean.TraceBean">
        Select * from trace where enter_time  betwenen #{starttime} and #{endtime};
    </select>

    <select id="getUser" resultType="com.example.datagriptoolsdesign.bean.UserBean">
        Select * from tools_user Where username = #{username} and password = #{password};
    </select>

    <insert id="AddTrace" parameterType="com.example.datagriptoolsdesign.bean.TraceBean">
        Insert into trace (location, enter_time, Name, phone, id)Value(#{location}, #{enter_time}, #{Name}, #{phone}, #{id});
    </insert>
</mapper>